@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-size: 1.2em;
  color: $text-color;
  background: $back-color;
  font-family: "Anonymous_Pro", serif;
  height: 100%;
}
div::-webkit-scrollbar {
  width: 1em;
  border-radius: 5px;
}
div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
}
div::-webkit-scrollbar-thumb {
  background-color: $object-color;
  border: 1px solid $border-color;
  border-radius: 5px;
}
button {
  font-family: "Anonymous_Pro", serif;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  background: none;
  &:focus {
    outline: 0;
  }
}
input {
  font-size: 1.2em;
  &:focus {
    outline: 0;
  }
  &[type=submit] {
    cursor: pointer;
    border: none;
  }
}
select {
  font-size: 1.2em;
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 2000px) {
  body {
    font-size: 1.5em;
  }
}

.header {
  width: 100%;
  padding: 15px;
  background: $primary-color url("../png/primaryBack.png");
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__button {
    margin: 5px;
    font-style: italic;
    padding: 5px;
    color: $primary-text-color;
    &:hover {
      color: $primary-text-color-hover
    }
  }
  &__home-button {
    margin-right: auto;
    font-size: 2.5em;
    text-decoration-line: none;
  }
}

.admin {

  width: 100%;
  background: $second-back-color;
  &__panel {
    width: 100%;
    background: $second-back-color;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__title {
    font-size: 2em;
  }
  &__exit-button {

  }
  &__nav {
    border-top: rgba($primary-color, 0.5) 2px dashed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
  }
  &__nav-button {
    padding: 5px;
    text-transform: uppercase;
    &_selected {
      font-weight: bold;
      text-decoration: underline;
    }
  }
  &__users {
    width: 100%;
    padding: 10px;
    margin: 0 20px;
    overflow: hidden;
  }
}

.users {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  &__title {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  &__cards {
    overflow-x: scroll;
    background: $second-back-color;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.user-card {
  padding: 10px;
  margin: 10px;
  background: $object-color;
  border: $border-color solid 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-width: 275px;
  max-width: 275px;
  &__title {
    font-weight: bold;
  }
  &__prop {
    text-wrap: normal;
    word-break: break-all;
  }
  &__delete-button {
    height: 20px;
    width: 20px;
    align-self: flex-end;
    cursor: pointer;
    background: url("../svg/cross.svg");
  }
}

.reg-form {
  background: $second-back-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 10px;
  &__label {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  &__field {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  &__drop-down {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  &__submit {
    width: fit-content;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
    background: $object-color;
    border: $border-color solid 1px;
    margin-top: 20px;
  }
  &__report {
    align-self: center;
    text-wrap: normal;
    word-break: break-all;
    margin-top: 10px;
  }
}

.main-nav {
  width: 100%;
  padding: 5px;
  background: $second-back-color;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  &__button {
    border: none;
    padding: 5px;
    background: none;
    text-transform: uppercase;
    &_selected {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.moder {
  width: 100%;
  background: $second-back-color;
  &__panel {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__title {
    font-size: 2em;
  }
  &__exit-button {

  }
  &__nav {
    border-top: rgba($primary-color, 0.5) 2px dashed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
  }
  &__nav-button {
    padding: 5px;
    text-transform: uppercase;
    &_selected {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  &__options {
    border-top: rgba($primary-color, 0.5) 2px dashed;
    background: $second-back-color;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__options-subtitle {
    margin: 10px 0;
  }
  &__options-type-filter {
    margin: 5px 10px;
  }
  &__options-type-filter-label {
    width: max-content;
    align-self: flex-start;
  }
  &__options-slider {
    width: 100%;
    margin: 15px;
    text-align: center;
    position: relative;
    & > input[type=range] {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      &::-webkit-slider-thumb {
        z-index: 2;
        position: relative;
      }
    }
  }
  &__options-slider-values {

  }
  &__options-slider-value {

  }
  &__options-reset {
    margin: 20px 0;
    font-size: 1.2em;
    color: $primary-text-color;
    background: $primary-color;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
  }
  &__segments {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__add-button {
    margin: 20px 0;
    font-size: 1.5em;
    color: $primary-text-color;
    background: $primary-color;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
  }
  &__segment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
  }
  &__segment-title {
    text-align: center;
    font-size: 2em;
    width: 100%;
  }
}

.product-card {
  margin: 15px;
  background: $object-color;
  border-radius: 15px;
  width: 350px;
  &__img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  &__info {
    padding: 10px;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__prop {
    margin-bottom: 5px;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
  }
  &__count {
    margin: 0 5px;
  }
  &__button {
    background: $second-back-color;
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px;
    &_selected {
      background: $primary-color;
      color: $primary-text-color;
      &:hover {
        color: $primary-text-color-hover;
      }
    }
  }
}

.auth {
  display: grid;
  place-items: center;
  &__form {
    margin-top: 30px;
    width: 100%;
    max-width: 500px;
    padding: 10px;
  }
}

.auth-form {
  background: $second-back-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  &__label {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  &__field {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  &__submit {
    width: fit-content;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
    background: $object-color;
    border: $border-color solid 1px;
    margin-top: 20px;
  }
  &__report {
    align-self: center;
    text-wrap: normal;
    word-break: break-all;
    margin-top: 10px;
  }
}

.modal-window {
  position: fixed;
  width: 100%;
  height: fit-content;
  background: rgba($back-color, 0.5);
  display: grid;
  place-items: center;
  z-index: 10;
  &__window {
    padding: 15px;
    border-radius: 10px;
    background: $second-back-color;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__close-button {
    width: 20px;
    height: 20px;
    background: url("../svg/cross.svg");
    align-self: flex-end;
  }
}

.product-info {
  width: 500px;
  &__title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  &__description {
    text-align: justify;
    text-indent: 1.5em;
  }
}

.product-edit-form {
  width: 500px;
  &__title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  &__label {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  &__field {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
  }
  &__text-area {
    margin-bottom: 10px;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 100px;
    resize: vertical;
  }
  &__drop-down {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    min-width: 150px;
  }
  &__submit {
    padding: 5px;
    border-radius: 5px;
    background: $object-color;
    border: $border-color solid 1px;
    margin-top: 20px;
  }
}

.main {
  &__image-container {
    box-shadow: 0px -90px 25px -25px $back-color inset;
    position: relative;
  }
  &__image {
    object-fit: cover;
    width: 100%;
    max-height: 30em;
    opacity:0.8;
    background: $back-color;
  }
  &__social-icons {
    background: $primary-color;
    padding: 0.5em;
    border-radius: 0.5em;
    position: absolute;
    left: 1em;
    bottom: 1em;
  }
  &__containers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border-radius: 15px;
    background: $second-back-color;
    width: 400px;
  }
  &__subtitle {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    padding: 10px;
    border-bottom: rgba($primary-color, 0.5) 2px dashed;
  }
  &__container-content {
    padding: 15px;
  }
}

.basket {
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: center;
  flex-wrap: wrap;
  height: min-content;
  &__element {
    flex-grow: 1;
    flex-basis: 47%;
    height: min-content;
  }
  &__list {
    margin: 10px;
    min-width: 350px;
    border-radius: 10px;
    background: $second-back-color;
  }
  &__list-element {
    display: flex;
    width: 100%;
    &:nth-last-of-type(2) {
      border-bottom: none;
    }
    &_product {
      border-bottom: rgba($primary-color, 0.5) 2px dashed;
    }
    &_sum {
      background: $primary-color;
      color: $primary-text-color;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  &__list-element-prop {
    padding: 0.7em;
    flex-grow: 1;
  }
  &__list-element-title {
    flex-basis: 60%;
  }
  &__list-element-price {
    flex-basis: 20%;
  }
  &__list-element-duration {
    flex-basis: 20%;
  }
  &__form {
    margin: 10px;
    min-width: 350px;
    border-radius: 10px;
    background: $second-back-color;
  }
  &__redirect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  &__redirect-title {
  }
  &__redirect-button {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background: $primary-color;
    color: $primary-text-color;
    margin-top: 20px;
  }
}

.basket-form {
  background: $second-back-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  &__label {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  &__field {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  &__description {
    margin-bottom: 10px;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 100px;
    resize: vertical;
  }
  &__submit {
    width: fit-content;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    background: $primary-color;
    color: $primary-text-color;
    margin-top: 20px;
  }
  &__report {
    align-self: center;
    text-wrap: normal;
    word-break: break-all;
    margin-top: 10px;
  }
}

.social-icons {
  display: grid;
  grid-gap: 1em;
  &__icon {
    &>div {
      width: 2em;
      height: 2em;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__vk {
    &>div {
      background-image: url("../svg/vk.svg");
    }
    &:hover {
      &>div {
        background-image: url("../svg/vk_s.svg");
      }
    }
  }
  &__fb {
    &>div {
      background-image: url("../svg/fb.svg");
    }
    &:hover {
      &>div {
        background-image: url("../svg/fb_s.svg");
      }
    }
  }
  &__inst {
    &>div {
      background-image: url("../svg/inst.svg");
    }
    &:hover {
      &>div {
        background-image: url("../svg/inst_s.svg");
      }
    }
  }
  &__wapp {
    &>div {
      background-image: url("../svg/wapp.svg");
    }
    &:hover {
      &>div {
        background-image: url("../svg/wapp_s.svg");
      }
    }
  }
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__content {
    flex: 1 0 auto;
  }
}

.footer {
  flex-shrink: 0;
  padding: 10px;
  background: $primary-color;
  &__social_icons {
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
  }
}